/* Directivas de Tailwind v3 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 30, 144, 255;             
  --color-primary-hover: 23, 114, 204;       
  --color-primary-foreground: 255, 255, 255;
  --color-destructive: 239, 68, 68;
  --color-secondary: 45, 212, 191;         
  --color-secondary-foreground: 255, 255, 255;
  --color-accent: 34, 197, 94;             
  --color-accent-foreground: 255, 255, 255;
  --color-background: 248, 250, 252;
  --color-foreground: 15, 23, 42;
  --color-input: 226, 232, 240;
  --color-input-bg: 255, 255, 255;
  --color-input-ring: 30, 144, 255;
  --color-muted-foreground: 100, 116, 139;
  --color-label: 30, 41, 59;
  --color-card: 255, 255, 255;
  --color-card-foreground: 15, 23, 42;
  --color-border: 226, 232, 240;
  --color-active: 34, 197, 94;
  --color-success: 34, 197, 94;
  --color-warning: 251, 146, 60;
  --color-info: 45, 212, 191;
}
